body {
	margin: 30px;
	background-color: #fff;
	color: #000;
	font-size: 12pt;
	text-align: justify;
}

th {
	text-align: left;
	color: #006;
	border-bottom: 1px solid #ccc;
}

h1, h2, h3, h4, h5, h6{
	page-break-after: avoid;
}

tr.odd {
	background-color: #ddd;
}

tr.even {
	background-color: #fff;
}

td {
	padding: 5px;
}

img {
	margin: 0px;
	border: 0px;
}

#menu {
	visibility: hidden;
}

.submitted,.created {
	font-size: 0.8em;
}

.content {
	border: 0px;
	text-align: justify;
}

.html2pdf-node,.content p {
	text-align: justify;
}

fieldset {
	display: block;
	border: 1px solid #CCCCCC;
	padding: 0.7em;
	margin: 0.7em 0em;
}

legend {
	font-weight: bold;
}